# Detect which `ls` flavor is in use
if ls --color > /dev/null 2>&1; then # GNU `ls`
    lsflags='--color --time-style=+%Y-%m-%dT%H:%M:%S'
else # OS X `ls`
    lsflags="-GT"
fi

#
# ALIASES
#
alias back='cd -'
# alias b='back'
alias ll='ls -AFlp ${lsflags}'
alias l='ls -1AFp ${lsflags}'
alias lt='ls -AlFpt ${lsflags}'
alias grep='grep --color'
alias tree='tree -C'
alias unrar='unrar x'
# editors
alias a='atom'
alias v='mvim'
alias vs='mvim -S'
# alias m='mvim'
# alias t='tvim'
alias n='nvim'
alias mmc='mmdc'
#alias e="$EDITOR"
alias em='$HOME/bin/emacscltsrv'
alias x='$HOME/bin/emacscltsrv'
# alias em='/usr/local/bin/emacsclient -n -c -a /usr/local/bin/emacs&'
# alias x='/usr/local/bin/emacsclient -n -c -a /usr/local/bin/emacs&'
# alias em='emacsclient -n $* -a emacs'
# alias x='emacsclient -n $* -a emacs'

# IP addresses
alias localip="ipconfig getifaddr en1"
# alias ips="ifconfig -a | grep -o 'inet6\? \(\([0-9]\+\.[0-9]\+\.[0-9]\+\.[0-9]\+\)\|[a-fA-F0-9:]\+\)' | sed -e 's/inet6* //'"
alias ips="ifconfig -a | perl -nle'/(\d+\.\d+\.\d+\.\d+)/ && print $1'"
alias myip="dig +short myip.opendns.com @resolver1.opendns.com"

# Directories:
alias ..='cd ..'
alias ...='cd ../..'
alias ....='cd ../../..'

# Jump
alias jump="cj"
alias j='jump'

# ctags
alias ctagsr='ctags -R --tag-relative=yes --exclude=.git --exclude=.hg --exclude=.svn --exclude=*.html --exclude=*.md --exclude=*.xml --exclude=*.yaml '
alias ctagscpp='ctagsr --c++-kinds=+p --fields=+iaS --extra=+q --language-force=C++ '
alias ctagsgo='gotags -R -tag-relative '
alias ctagsjv='ctagsr --exclude=*.class --exclude=*.jar --extra=+f --extra=+q '
alias ctagspye='ctagsr --extra=+f -e `python -c "from distutils.sysconfig import get_python_lib; print get_python_lib()"`'
alias ctagspyv='ctagsr --extra=+f -f .tags `python -c "from distutils.sysconfig import get_python_lib; print get_python_lib()"`'
alias ctagsrbe='ctagsr -e `bundle show --paths`'
alias ctagsrbe='ctagsr -f .tags `bundle show --paths`'

# URL-encode strings
alias urlencode='python -c "import sys, urllib as ul; print ul.quote_plus(sys.argv[1]);"'

# Merge PDF files
# Usage: `mergepdf -o output.pdf input{1,2,3}.pdf`
alias mergepdf='/System/Library/Automator/Combine\ PDF\ Pages.action/Contents/Resources/join.py'

# One of @janmoesen’s ProTip™s
for method in GET HEAD POST PUT DELETE TRACE OPTIONS; do
    alias "$method"="/usr/bin/curl -i -X '$method'"
done
unset -v method

# Mac OS: Quick way to rebuild the Launch Services database and get rid
# of duplicates in the Open With submenu.
alias fixopenwith='/System/Library/Frameworks/CoreServices.framework/Frameworks/LaunchServices.framework/Support/lsregister -kill -r -domain local -domain system -domain user && killall Finder'
alias cleanlaunchservices='/System/Library/Frameworks/CoreServices.framework/Versions/A/Frameworks/LaunchServices.framework/Versions/A/Support/lsregister -kill -seed -r'
# human logger in audo
# alias todo="python $HOME/workspace/miscellaneous/audo/humlog.py"

