export EDITOR="$HOME/bin/editor.sh"
export VISUAL="$HOME/bin/editor.sh"

# Make some commands not show up in history
export HISTIGNORE="ls:cd:cd -:pwd:exit:date:* --help"

# Prefer US English and use UTF-8
export LANG="en_US"
export LC_ALL="en_US.UTF-8"

# Always enable colored `grep` output
export GREP_OPTIONS="--color=auto"

# Homebrew vim
if [ -h "/usr/local/bin/vim" ]; then
    if [ `which vim` = "/usr/local/bin/vim" ]; then
        VIMLINK=`ls -l /usr/local/bin/vim | awk '{print $11}'`
        VIMDIR=`dirname $VIMLINK`
        export VIMRUNTIME="/usr/local/bin/$VIMDIR/../share/vim/vim73"
    fi
fi
#
# ENV VARIABLES
#
# /System/Library/Java/JavaVirtualMachines/
MACOS_JVM_VERSION=jdk1.7.0_13.jdk
MACOS_JVM=/Library/Java/JavaVirtualMachines/${MACOS_JVM_VERSION}
if [ -d ${MACOS_JVMS} ]; then
    export JAVA_HOME="${MACOS_JVM}/Contents/Home"
    PATH=${JAVA_HOME}/bin:$PATH
fi

if [ -z $ANT_HOME ]; then
  if [ -d "/usr/local/share/java/apache-ant-1.9.0" ]; then
      export ANT_HOME=/usr/local/share/java/apache-ant-1.9.0
      PATH=${ANT_HOME}/bin:${PATH}
  fi
fi

if [ -z $GRADLE_HOME ]; then
    if [ -d "/usr/local/share/java/gradle-1.2" ]; then
        export GRADLE_HOME=/usr/local/share/java/gradle-1.2
        export GRADLE_OPTS="-Xmx1024m -Xms192m -XX:MaxPermSize=128m -XX:+CMSClassUnloadingEnabled"
        PATH=${GRADLE_HOME}/bin:${PATH}
    fi
fi

if [ -z $SBT_HOME ]; then
    if [ -d "/usr/local/share/java/sbt" ]; then
        export SBT_HOME=/usr/local/share/java/sbt
        PATH=${SBT_HOME}/bin:${PATH}
    fi
fi

if [ -z $CLOJURE_HOME ]; then
    if [ -d "/usr/local/share/java/clojure-1.4.0" ]; then
        export CLOJURE_HOME=/usr/local/share/java/clojure-1.4.0
        PATH=${CLOJURE_HOME}:${PATH}
    fi
fi

export PATH
