# make sure .extras is ignored
.config/configstore/
.config/git/gitk
.config/gocode/
.config/nvim/.netrwhist
.config/ranger/bookmarks
.config/ranger/history
.config/ranger/tagged
.extras
.sessions/
# vim
.vim/.netrwhist
.vim/.vim-tmp
.vim/bundle/256-grayvim
.vim/bundle/Atom
.vim/bundle/AutoTag
.vim/bundle/Colour-Sampler-Pack
.vim/bundle/HTML-AutoCloseTag
.vim/bundle/MochaLatte
.vim/bundle/OmniCppComplete
.vim/bundle/VimClojure
.vim/bundle/ack.vim
.vim/bundle/ag.vim
.vim/bundle/applescript.vim
.vim/bundle/blacklight
.vim/bundle/bufexplorer
.vim/bundle/cake16
.vim/bundle/ctrlp.vim
.vim/bundle/dash.vim
.vim/bundle/flattown
.vim/bundle/funcoo.vim
.vim/bundle/javacomplete
.vim/bundle/jedi-vim
.vim/bundle/nerdcommenter
.vim/bundle/nerdtree
.vim/bundle/python-syntax
.vim/bundle/python_fn
.vim/bundle/rust.vim
.vim/bundle/sweater
.vim/bundle/syntastic
.vim/bundle/tagbar
.vim/bundle/taskpaper.vim
.vim/bundle/ultisnips
.vim/bundle/vim-airline
.vim/bundle/vim-autoclose
.vim/bundle/vim-colors-solarized
.vim/bundle/vim-easymotion
.vim/bundle/vim-easytags
.vim/bundle/vim-fugitive
.vim/bundle/vim-gitgutter
.vim/bundle/vim-go
.vim/bundle/vim-golang
.vim/bundle/vim-iawriter
.vim/bundle/vim-kolor
.vim/bundle/vim-matchit
.vim/bundle/vim-misc
.vim/bundle/vim-scala
.vim/bundle/vim-snippets
.vim/bundle/vim-surround
# emacs
.emacs.d/.emacs.desktop*
.emacs.d/.python-environments
.emacs.d/SessionDesktop.el
.emacs.d/bookmarks
.emacs.d/elpa
.emacs.d/ido.last
.emacs.d/projectile-bookmarks.eld
#
.ropeproject/
