[submodule ".vim/bundle/nerdtree"]
	path = .vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule ".vim/bundle/syntastic"]
	path = .vim/bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule ".vim/bundle/vim-colors-solarized"]
	path = .vim/bundle/vim-colors-solarized
	url = git://github.com/altercation/vim-colors-solarized.git
[submodule ".vim/bundle/vim-matchit"]
	path = .vim/bundle/vim-matchit
	url = git@github.com:edsono/vim-matchit.git
[submodule ".vim/bundle/vim-peepopen"]
	path = .vim/bundle/vim-peepopen
	url = git@github.com:mrchrisadams/vim-peepopen.git
[submodule ".vim/bundle/vim-surround"]
	path = .vim/bundle/vim-surround
	url = git://github.com/tpope/vim-surround.git
[submodule ".vim/bundle/vim-taglist"]
	path = .vim/bundle/vim-taglist
	url = git@github.com:thisivan/vim-taglist.git
[submodule ".vim/bundle/command-t"]
	path = .vim/bundle/command-t
	url = git://git.wincent.com/command-t.git
[submodule ".vim/bundle/taskpaper"]
	path = .vim/bundle/taskpaper
	url = git@github.com:davidoc/taskpaper.vim.git
[submodule ".vim/bundle/autoclose"]
	path = .vim/bundle/autoclose
	url = git@github.com:seletskiy/vim-autoclose.git
[submodule ".vim/bundle/nerdcommenter"]
	path = .vim/bundle/nerdcommenter
	url = git@github.com:scrooloose/nerdcommenter.git
[submodule ".vim/bundle/ctrlp"]
	path = .vim/bundle/ctrlp
	url = git@github.com:kien/ctrlp.vim.git
