bin/Eject.app
bin/Ejects.app
bin/xkcdpwd
# make sure .extras is ignored
.config/configstore/
.config/git/gitk
.config/gocode/
.config/mpv/watch_later
.config/nvim/.netrwhist
.config/ranger/bookmarks
.config/ranger/history
.config/ranger/tagged
.extras
.sessions/
# vim
.vim/.netrwhist
.vim/.vim-tmp
.vim/plugged
.vim/tmp
# emacs
.emacs.d/.emacs.desktop*
.emacs.d/.python-environments
.emacs.d/SessionDesktop.el
.emacs.d/bookmarks
.emacs.d/elpa
.emacs.d/ido.last
.emacs.d/projectile-bookmarks.eld
#
.ropeproject/
