bin/Eject.app
bin/Ejects.app
bin/coverfinder
bin/doing
bin/fleet
bin/goland
bin/golandeap
bin/helidon2
bin/helidon3
bin/idea
bin/idea1
bin/metafinder
bin/otd_*
bin/pycharm
bin/qqq
bin/spectra-cli
bin/theperfectdailyreadinglist.sh
bin/d1otd
bin/enotd
bin/hnotd
bin/xkcdotd
# make sure .extras is ignored
.config/Amazon/
.config/configstore/
.config/git/gitk
.config/gocode/
.config/karabiner/assets/
.config/karabiner/automatic_backups/
.config/karabiner/karabiner.edn.*
.config/karabiner/karabiner.json.*
.config/mpv/watch_later
.config/nvim/.netrwhist
.config/qBittorrent/
.config/ranger/bookmarks
.config/ranger/history
.config/ranger/tagged
.config/raycast/
.config/softgaroo.com/
.extras
.sessions/
# vim
.vim/.netrwhist
.vim/.vim-tmp
.vim/plugged
.vim/tmp
# emacs
.emacs.d/.emacs.desktop*
.emacs.d/.python-environments
.emacs.d/SessionDesktop.el
.emacs.d/bookmarks
.emacs.d/elpa
.emacs.d/ido.last
.emacs.d/projectile-bookmarks.eld
#
.ropeproject/
.config/nnn/.selection
