# Snippets for Orgmode

snippet zlog "Orgmode log entry" b
+ [`date +%H:%M`] 
endsnippet

snippet zday "Orgmode day header" w
`date "+%Y-%m-%d %A"`
endsnippet

snippet zmon "Orgmode month header" w
`date "+%Y-%m %B"`
endsnippet

snippet zts "Orgmode timestamp" w
`date "+[%H:%M]"`
endsnippet
