snippet imust "The @i(must) tag" 
@i(must)
endsnippet

snippet iwant "@i(want)" 
@i(want)
endsnippet

snippet iscc "Canceled @is(canceled)"
@is(canceled)
endsnippet

snippet ispp "Postponed @is(posponed)"
@is(postponed)
endsnippet

snippet iswip "Work in progress @is(wip)"
@is(wip)
endsnippet
